/*  your css code here. If applicable */
/*  your css code here. If applicable */

.box {
    width: 50%;
    height: 160px;
    margin: auto;
    background-color: rgb(194, 191, 191);
    padding: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;

}

.green {
    margin: 5px;
    background-color: green;
    height: 120px;
    width: 120px;
    border-radius: 50%;

}

.yellow {
    margin: 5px;
    background-color: yellow;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.red {
    margin: 5px;
    background-color: red;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}